*{
  padding: 0;
  margin: 0;
}

header {
  background-image: url(viewofvancouver.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.8;
}

ul li{
  list-style: none;
  float: left;
  margin-top: 30px;
  margin-left: 50px;
}

li a{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s ease;
  padding: 15px 25px;
  color: #004080;
  font-weight: bold;
  letter-spacing: 2px;
}

ul li a:hover {
  color: #fff;
  background-color: #004080;
}

ul li.active a {
  color: #fff;
  background-color: #004080;
}


.main {
  margin: auto;
}

.title {
  font-family: inherit;
  color: white;
  text-align: center;
}

span {
  color: pink;
}

.title h1 {
  padding-top: 230px;
  font-size: 80px;
  font-style: italic;
  letter-spacing: 4px;

}

.title h2 {
  font-weight: lighter;
  letter-spacing: 2px;
  padding-top: 10px;
}
